body{


margin:0;

font-family:Arial, sans-serif;

background:#111;

color:white;


}



/* bouton 3 traits */

.menu-btn{


position:fixed;


left:15px;

top:15px;


z-index:1000;


font-size:32px;


background:#222;


border:none;


color:white;


border-radius:8px;


padding:8px 14px;


cursor:pointer;


}




/* menu */


#sidebar{


position:fixed;


left:-280px;


top:0;


width:260px;


height:100%;


background:#181818;


transition:0.3s;


z-index:999;


padding-top:70px;


}




#sidebar.active{


left:0;


}




#sidebar h2{


text-align:center;


}




#sidebar a{


display:block;


padding:16px;


color:white;


text-decoration:none;


font-size:18px;


}




#sidebar a:hover{


background:#333;


}




/* contenu */


.content{


text-align:center;


padding-top:150px;


}



.play{


display:inline-block;


margin-top:30px;


background:#00aaff;


padding:15px 35px;


border-radius:10px;


color:white;


text-decoration:none;


font-size:22px;


}
