body{

margin:0;
font-family:Arial;
background:#111;
color:white;

}



.menu-btn{

position:fixed;

top:20px;
left:20px;

font-size:30px;

background:none;

border:none;

color:white;

cursor:pointer;

}



#sidebar{


position:fixed;

left:-300px;

top:0;


width:260px;

height:100%;


background:#181818;


padding-top:30px;


transition:0.3s;


}



#sidebar.active{

left:0;

}



#sidebar h2{

text-align:center;

}



#sidebar a{


display:block;


padding:15px;


color:white;


text-decoration:none;


font-size:18px;


}



#sidebar a:hover{


background:#333;


}



.content{


text-align:center;


padding-top:150px;


}
